@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans&family=Play&family=Poppins&family=Signika:wght@300;400;500&family=Titillium+Web&family=Ubuntu:ital,wght@0,400;0,500;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}