@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans&family=Play&family=Poppins&family=Signika:wght@300;400;500&family=Titillium+Web&family=Ubuntu:ital,wght@0,400;0,500;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.swiper {
    width: 100%;
    height: 40%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f4e3c9;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: flex;
    width: 72%;
    object-fit: contain;
}

@media only screen and (min-width: 768px) and (max-width: 2300px) {
    #wide {
        display: flex;
        height: 86%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    #wide {
        display: flex;
        height: 100%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper {
        width: 100%;
        height: 33%;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1640px) {
    .swiper {
        width: 100%;
        height: 50%;
    }
}

@media only screen and (min-width: 1641px) and (max-width: 1864px) {
    .swiper {
        width: 100%;
        height: 54%;
    }
}

@media only screen and (min-width: 1865px) and (max-width: 3000px) {
    .swiper {
        width: 100%;
        height: 52%;
    }
}